<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Simple chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div class="reply-container" *ngFor="let reply of replies">
    <div [ngClass]="{'reply': true, 'self-reply': reply.nickname === userName}">
      <span class="reply-nickname">
        {{ reply.nickname }}: 
      </span>
      <span class="reply-message">
        {{ reply.message }}
      </span>
    </div>
  </div> 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="send-container">
      <ion-input 
        placeholder="Message"
        inputmode="text"
        [(ngModel)]="currentMessage"></ion-input>
      <ion-button (click)="send()">Send</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
