ion-content {
  height: 100%;

  --background: #AAA;
}

.reply {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  padding: 0 15px;

  margin: 5px 0;
}

.self-reply {
  align-items: flex-end;
}

.reply-nickname {
  font-size: 12px;
  color: #666;

  padding: 2px 0;
}

.reply-message {
  font-size: 18px;
  padding: 5px;
  color: white;
  background-color: #F57B51;

  border-radius: 10px;
}

.self-reply .reply-message {
  background-color: #D63447;
}

.send-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.send-container ion-input {
  border-radius: 10px;
  border: 1px solid #AAA;
  height: 40px;
  margin-right: 10px;

  --padding-start: 5px;
}

.send-container ion-button {
  height: 40px;
}
